.comments_heading{
    margin-top: 0px;
    color: #5450cad4;
}
.comment_header{
    text-align: left;
    font-size: 0.8rem;
    font-weight: 700;
    margin:0px;
    color: gray;
}
.comment_text{
    text-align: left;
    border-radius: 5px;
    font-size: 1rem;
    margin:0px;
}
.comment_content{
    background-color: rgba(240, 236, 236, 0.374);
    padding: 0.6em;
    border-radius: 5px;
    margin: 10px;
}
.textField{
    position: fixed !important;
}